body {
  background-color: bisque;
}

h1 {
  font-family: "Conic Sans MS";
  font-weight: bold;
}

canvas {
  background-color: white;
}

span {
  display: inline-block;
  *display: inline;
  align-content: flex-start;
}

#canvas_div, #settings {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
